Flask
Flask-WTF>=0.14.3
Flask-Bootstrap
Flask-Mail
elasticsearch>=7.0.2
elasticsearch-dsl>=7.1.0,<8.0.0
pyArango
dask
distributed
dask-jobqueue
pybtex
pylatexenc
pytest
progress
zstandard
antlr4-python3-runtime==4.8
