Flask==1.1.2
Flask-WTF>=0.14.3
Flask-BS4==4.5.0.0
Flask-Mailman==0.1.5
email-validator==1.1.1
elasticsearch>=7.0.2
elasticsearch-dsl>=7.1.0,<8.0.0
pyArango==1.3.4
dask
distributed
dask-jobqueue
pybtex
pylatexenc
pytest
progress
zstandard
antlr4-python3-runtime==4.8
fastDamerauLevenshtein==1.0.6
