#indexLogo {
  margin-top: 6.25em;
  text-align: center;
}

#resultLogo {
  margin-top: 3.25em;
  text-align: center;
}

#searchPanelDescription {
  font-size: .75em;
  color: #a0a0a0;
}

#results {
  font-size: .875em;
  color: #000;
}
