.searchArea {
  display: flex;
  margin-top: 3.125em;
}

form#search {
  display: inherit;
  overflow: hidden;
  width: 100%;
}

#helpIcon {
  height: calc(2em + 1px);
  margin-left: .1em;
}

input[type="text"] {
  height: calc(2em + 1px);
  flex: 1 0 0%;
  margin: 0;
  font: inherit;
  border: thin solid #768daa;
  border-radius: .5em 0 0 .5em;
  vertical-align: bottom;
  padding-left: .2em;
}

#submit {
  -webkit-appearance: none;
  appearance: none;
  width: calc(2rem + 1px);
  height: calc(2rem + 1px);
  border: 0px none;
  cursor: pointer;
  margin: 0;
  background-color: #768daa;
  background-image: url(../images/search.svg);
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;
}

#hitstats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.5rem;
  margin: .5em 0 0 0;
  padding: 0 .2em;
  border: 2px solid #768daa;
  border-radius: .5em .5em 0 0;
}

select {
  height: 2.5em;
  margin: 0 .2em;
}

#results {
  margin-top: -2px;
  border: 2px solid #768daa;
  border-style: solid;
}

#results a{
  text-decoration: none;
  color: #000;
}

#results a:hover{
  text-decoration: underline;
  color: #3c7ccc;
}

li {
  margin-right: 1em;
}

li:nth-child(even) {
  background: #eef;
}

#nav {
  display: flex;
}

#nav form{
  display: inherit;
}
