{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="/static/css/base.css">
  <link type="text/css" rel="stylesheet" href="/static/css/search.css">
  <script src="/static/js/citations.js"></script>
  <style type="text/css">
    #sigma-container {
      position: absolute;
      height: 80%;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="row justify-content-center"><div id="sigma-container" class="col-12 col-md-10 col-lg-8"></div></div>
<script src="/static/js/sigma.min.js"></script>
<script>
    // Add a method to the graph model that returns an
    // object with every neighbors of a node inside:
    sigma.classes.graph.addMethod('neighbors', function(nodeId) {
      var k,
          neighbors = {},
          index = this.allNeighborsIndex[nodeId] || {};

      for (k in index)
        neighbors[k] = this.nodesIndex[k];

      return neighbors;
    });
    // Let's first initialize sigma:
    var s = new sigma(
        {
            renderer: {
                container: document.getElementById('sigma-container')
            },
            settings: {defaultNodeColor: '#ec5148'}
        }
    );
    let graph = {{ graph |safe }}
    s.graph.read(graph)
    s.graph.nodes().forEach(function(n) {
        n.originalColor = n.color;
      });
      s.graph.edges().forEach(function(e) {
        e.originalColor = e.color;
      });
    // Finally, let's ask our sigma instance to refresh:
    s.refresh();
    s.bind('clickNode', function(e) {
        citations(e.data.node.label, s);
    });
    s.bind('doubleClickNode', function(e) {
        location.href = "/page/" + e.data.node.label
    });
    s.bind('overNode', function(e) {
        var nodeId = e.data.node.id,
            toKeep = s.graph.neighbors(nodeId);
        toKeep[nodeId] = e.data.node;

        s.graph.nodes().forEach(function(n) {
          if (toKeep[n.id])
            n.color = n.originalColor;
          else
            n.color = '#eee';
        });

        s.graph.edges().forEach(function(e) {
          if (toKeep[e.source] && toKeep[e.target])
            e.color = e.originalColor;
          else
            e.color = '#eee';
        });

        // Since the data has been modified, we need to
        // call the refresh method to make the colors
        // update effective.
        s.refresh();
      });

      // When the stage is clicked, we just color each
      // node and edge with its original color.
      s.bind('outNode', function(e) {
        s.graph.nodes().forEach(function(n) {
          n.color = n.originalColor;
        });

        s.graph.edges().forEach(function(e) {
          e.color = e.originalColor;
        });

        // Same as in the previous event:
        s.refresh();
      });
    </script>
{% endblock %}
