{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="/static/css/base.css">
  <link type="text/css" rel="stylesheet" href="/static/css/search.css">
  <script src="/static/js/autocomplete.js"></script>
  <script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$']]
    }
  };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endblock %}
<!-- auto-container -->
{% block page_content %}
<div class="row justify-content-md-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="searchArea mt-1">
      <form method="POST" autocomplete="off" id="search">
        {{ form.hidden_tag() }}
        <!--{{ form.name.label }} -->
        {{ form.name(id="queryInputField", placeholder="reinforcement learning author:Schulman", autofocus=True) }}
        {{ form.submit(value="") }}
      </form>
      <script>
      /*initiate the autocomplete function on the "search" element
        possible autocomplete values will be fetched via HttpXMlRequest
        in the function*/
        autocomplete(document.getElementById("queryInputField"));
      </script>
      <a href="{{ url_for('main.help') }}"><img src="/static/images/help.svg" id="helpIcon" alt="Need help? Click here!"></a>
    </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div id="searchPanelDescription">
      <a href="{{ url_for('main.help') }}">Need help? Click here!</a>
    </div>
    <div id="ausgabe">
    {% if hit.entrytype == "inproceedings" %}
      <p>
      {% if "title" in hit %}<h6>{{ hit.title | safe }}</h6>{% endif %}
      {% if "author" in hit %}<p>{{ hit.author }}</p>{% endif %}
      {% if "booktitle" in hit %}
        {{ hit.booktitle }}{% if "year" in hit %}, {{ hit.year }}{% endif %}
      {% else %}
        {% if "year" in hit %}{{ hit.year }}{% endif %}
      {% endif %}
      </p>
      {% if "abstract" in hit %}<p><b>Abstract:</b><br>{{ hit.abstract|join("\n") | safe }}</p><br>{% endif %}
      {% if "auto_tags" in hit %}<p><b>Auto-Tags:</b><br>{{ hit.auto_tags|join(", ") }}</p>{% endif %}
    {% else %}
      {% if "title" in hit %}<h6>{{ hit.title | safe }}</h6>{% endif %}
      {% if "author" in hit %}<p>by {{ hit.author }}</p>{% endif %}
      {% if "abstract" in hit %}<p><b>Abstract:</b> {{ hit.abstract|join(" ") | safe }}</p>{% endif %}
      {% if "date" in hit %}
        <p><b>Date:</b> {{ hit.date }}</p>
      {% else %}
        {% if "year" in hit %}<p><b>Year:</b> {{ hit.year }}</p>{% endif %}
      {% endif %}
      {% if "auto_tags" in hit %}<p><b>Auto-Tags:</b><br>{{ hit.auto_tags|join(", ") }}</p>{% endif %}
    {% endif %}
    {% if pdfexists %}
      <form action="/pdf/{{ hit.meta.id }}" method="post" target="_blank">
        {{ pdf.hidden_tag() }}
        {{ pdf.button(value="pdf", id="pdf") }}
      </form>
    {% endif %}
    {% if fulltext %}
      <form action="/fulltext/{{ hit.meta.id }}">
        {{ ft.hidden_tag() }}
        {% if showfulltext %}{{ ft.button(value="hide fulltext", id="fulltext") }}{% else %}{{ ft.button(value="show fulltext", id="fulltext") }}{% endif %}
      </form>
      {% if showfulltext%}<p><b>Fulltext:</b> {{ fulltext | safe }}</p>{% endif %}
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}
