{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="../static/css/base.css">
  <link type="text/css" rel="stylesheet" href="../static/css/search.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$']]
    }
  };
  </script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endblock %}
  
{% block page_content %}
  <div id="content">
    <div id="resultLogo"><img height="105" width="400" src="../static/images/logo.svg" alt="Scicopia - search Science" onError="this.onerror=null;this.src='../static/images/fallback/logo400.png';"></div>
    <div class="searchArea">
      <form method="POST" id="search">
        {{ form.hidden_tag() }}
        <!--{{ form.name.label }} -->
        {{ form.name(id="queryInputField", placeholder="reinforcement learning author:Schulman", autofocus=True) }}
        {{ form.submit(value="") }}
      </form>
      <img src="../static/images/help.svg" id="helpIcon" alt="Need help? Click here!">
    </div>
    <div id="searchPanelDescription">
      <p>Need help? Click here!</p>
    </div>
    <div id="ausgabe">
      {% if hit.entrytype == "inproceedings" %}
        <p>
        {% if "title" in hit %}<i>{{ hit.title }}</i><br>{% endif %}
        {% if "author" in hit %} {{ hit.author|join(" and ") }}<br>{% endif %}
        {% if "booktitle" in hit %}
          {{ hit.booktitle }}{% if "year" in hit %}, {{ hit.year }}{% endif %}
        {% else %}
          {% if "year" in hit %}
            {{ hit.year }}
          {% endif %}
        {% endif %}
        </p>
        {% if "abstract" in hit %}<p><b>Abstract:</b><br>{{ hit.abstract|join("\n")  }}</p><br>{% endif %}
        {% if "auto_tags" in hit %}<p><b>Auto-Tags:</b><br>{{ hit.auto_tags|join(", ") }}</p>{% endif %}
      {% else %}
        {% if "title" in hit %} <p><b>{{ hit.title }}</b></p>{% endif %}
        {% if "author" in hit %} <p><b>Author:</b> {{ hit.author|join(" and ") }}</p>{% endif %}
        {% if "abstract" in hit %}<p><b>Abstract:</b> {{ hit.abstract|join(" ")  }}</p>{% endif %}
        {% if "date" in hit %}
          <p><b>Date:</b> {{ hit.date }}</p>
        {% else %}
          {% if "year" in hit %}<p><b>Year:</b> {{ hit.year }}</p>{% endif %}
        {% endif %}
      {% endif %}
    </div>
    <div id="navi">
        {% if pdfexists %}
            <form action="/pdf/{{ hit.meta.id }}" method="post" target="_blank">
                {{ pdf.hidden_tag() }}
                {{ pdf.button(value="pdf", id="pdf") }}
            </form>
        {% endif %}
    </div>
  </div>
{% endblock %}
