{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {{ super() }}
  <link type="text/css" rel="stylesheet" href="/static/css/base.css">
  <link type="text/css" rel="stylesheet" href="/static/css/search.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <script src="/static/js/queries.js" type="text/javascript" defer></script>
{% endblock %}

{% block title %}Scicopia - Change Username{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Change Your Username</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %} 