{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link type="text/css" rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <script src="/static/js/queries.js" type="text/javascript" defer></script>
{% endblock %}

{% block title %}Scicopia - Confirm your account{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Hello, {{ user }}!
    </h1>
    <h3>You have not confirmed your email adress yet.</h3>
    <p>
        To verify we have stored your email adress correctly you should confirm it.
        Check your inbox, you should have received an email with a confirmation link.
    </p>
    <p>
        Need another confirmation email?
        <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
    </p>
</div>
{% endblock %}