<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/pure-min.css">
  <link type="text/css" rel="stylesheet" href="../static/css/base.css">
  <link type="text/css" rel="stylesheet" href="../static/css/search.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <title>Search demo</title>
</head>
<body>
  <div id="content">
    <div id="resultLogo"><img height="105" width="400" src="../static/images/logo.svg" alt="Scicopia - search Science" onError="this.onerror=null;this.src='../static/images/fallback/logo400.png';"></div>
    <div class="searchArea">
      <form method="POST" id="search">
        {{ form.hidden_tag() }}
        <!--{{ form.name.label }} -->
        {{ form.name(id="queryInputField", placeholder="reinforcement learning author:Schulman", autofocus=True) }}
        {{ form.submit(value="") }}
      </form>
      <img src="../static/images/help.svg" id="helpIcon" alt="Need help? Click here!">
    </div>
    <div id="searchPanelDescription">
      <p>Need help? Click here!</p>
    </div>
    <div id="ausgabe"><p>
      {% if hit.entrytype == "inproceedings" %}
        {% if "title" in hit %}<i>{{ hit.title }}</i><br>{% endif %}
        {% if "author" in hit %} {{ hit.author|join(" and ") }}<br>{% endif %}
        {% if "booktitle" in hit %}
          {{ hit.booktitle }}{% if "year" in hit %}, {{ hit.year }}{% endif %}
        {% else %}
          {% if "year" in hit %}
            {{ hit.year }}
          {% endif %}
        {% endif %}
      </p>
      {% if "abstract" in hit %}<p><b>Abstract:</b><br>{{ hit.abstract }}</p>{% endif %}
      {% else %}
        {% for entry in hit %}
          <p>{{entry}}: {{ hit[entry] }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <div id="navi">
        {% if pdfexists %}
            <form action="/pdf/{{ hit.meta.id }}" method="post">
                {{ pdf.hidden_tag() }}
                {{ pdf.button(value="pdf", id="pdf") }}
            </form>
        {% endif %}
    </div>
  </div>
</body>
</html>
